name: Multiplatform Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-core:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        targets: aarch64-linux-android, armv7-linux-androideabi, x86_64-linux-android

    - name: Install NDK toolchain
      run: cargo install cargo-ndk

    - name: Setup Android NDK
      uses: android-actions/setup-android@v3

    - name: Execute Build Script
      run: |
        chmod +x scripts/build_all.sh
        ./scripts/build_all.sh

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: crystalline-core-binaries
        path: target/android/jniLibs/
